@import "tailwindcss";

:root {
  --background: #13161d;
  --foreground: #cad8dd;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #13161d;
    --foreground: #cad8dd;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* TO KNOW: SF Pro Display is the default font for Apple devices and not available on all devices because it's a proprietary font */
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", system-ui,
    "Inter", Helvetica, sans-serif;
}

@theme {
  --color-brand-tint-40: #ff3288;
  --color-brand-tint-30: #ff76bc;
  --color-brand-tint-60: #601e40;
  --color-brand-tint-50: #bf3878;
  --color-brand-tint-40-opacity-10: #cad8dd;
  --color-brand-tint-40-opacity-20: #cad8dd;
  --color-neutral-tint-50: #3d4556;
  --color-neutral-tint-70: #13161d;
  --color-white-opacity-100: #ffffff;

  --animate-grow: grow 0.5s ease-in-out;

  @keyframes grow {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.8);
    }
  }
}
